
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My MVC Website</title>
</head>
<body>
    <div>
        <h1>Heading Tag</h1>
        <h2>Heading Tag</h2>
        <h3>Heading Tag</h3>
        <h4>Heading Tag</h4>
        <h5>Heading Tag</h5>
        <h6>Heading Tag</h6>

        <img src="~/Images/img.jpg" />

        <video controls="controls">
            <source src="~/Videos/demo.mp4" type="video/mp4" />
        </video>

        <audio controls="controls">
            <source src="~/Audios/file_example_MP3_700KB.mp3" type="audio/mpeg" />
        </audio>
    </div>
</body>
</html>
